.form {
  width: 100%;
}
.select {
  padding: 6px 12px;
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  color: currentColor;
  //   font: normal normal 18px/20px Roboto-Regular, sans-serif;
}
.option {
  text-align: center;
  color: black;
}
